* {
    background: url("../img/dark-wood.jpg");
    color: white;
}

#coffee-img {
    width: 400px;
    height: auto;
    display: flex;
    margin: 0 auto;
}
h2, h3{
    text-align: center;
}

#coffee-list li {
    border: 0.2px solid whitesmoke;
    border-radius: 10px;
}

.form {
    line-height: 30px;
}

.form input {
    border: 0.2px solid whitesmoke;
    border-radius: 10px;
}

.form h3 {
    text-align: left;
}

.form #submit {
    margin: 5px auto;
}

footer h2{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    border-top: 0.2px solid white;
    font-weight: 400;
}

footer h3 {
    font-weight: 250;
}

footer ul li {
    list-style: none;
    font-weight: 200;
    margin-left: 50px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer h6 {
    font-weight: 200;
    margin-left: 50px;
}
